<<<<<<< HEAD
<% include common/header.ejs %>
    <div class="row order-page-panel">
        <div class="left-panel">
            <div class="contact-form-1">
                <div class="form-description-1">
                    1. Контактні дані
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <form name="form" class="form-horizontal">
                            <div class="form-group name-group">
                                <label class="col-sm-2 control-label">Ім’я</label>
                                <div class="col-sm-10">
                                
                                    <input name="name" class="form-control" type="text" id="inputName" placeholder="Ім’я Фамілія" pattern="^[А-Яа-яЇїІіЄє\s]+$" required>
                                </div>
                            <span class="name-help-block" style="display:none">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                            </div>
                            <div class="form-group phone-group">
                                <label class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input name="phone" class="form-control" type="text" id="inputPhone" placeholder="+380994010999" required pattern="^(?:0|\(?\+380\)?\s?)[0-9]{9}">
                                </div>
                            <span class="phone-help-block" style="display:none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                            </div>
                            <div class="form-group address-group">
                                <label class="col-sm-2 control-label">Адреса</label>
                                <div class="col-sm-10">
                                    <input name="address" class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                                </div>
                            <span class="address-help-block" style="display:none">
                                Введіть адресу доставки піци
                            </span>
                            </div>
                            <div class="row">
                    <div class="form-group next-step-wrap">
                        <div class="next-step-width">
                            <button type="button" class="btn btn-warning btn-block next-step-button" id="btnNext">
                                Далі
                                <i class="glyphicon glyphicon-chevron-right icon-white">
                                </i>
                            </button>
                            
                        </div>
                        
                    </div>
                </div>
                        </form>
                    </div>
                    <div class="col-md-5 order-summary">
                        <div class=" bs-callout bs-callout-warning">
                            <h4>Інформація про замовлення</h4>
                            <p class="order-summery-time"><b>Приблизний час доставки</b>: <span id="tm">Невідомо</span></p>
                            <p class="order-summery-adress"><b>Адреса доставки:</b><span id="ad">Невідомо</span></p>
                        </div>
                    </div>
                </div>
                
                    
            </div>
            <div class="google-maps" id="googleMap"></div>
        </div>
        
    </div>

<!-- місце для віджету -->
<div	id="liqpay"></div>
<!-- піключаємо скрипт -->
<script	src="//static.liqpay.com/libjs/checkout.js">
</script>


=======
<% include common/header.ejs %>
    <div class="row order-page-panel">
        <div class="left-panel">
            <div class="contact-form-1">
                <div class="form-description-1">
                    1. Контактні дані
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <form name="form" class="form-horizontal">
                            <div class="form-group name-group">
                                <label class="col-sm-2 control-label">Ім’я</label>
                                <div class="col-sm-10">
                                
                                    <input name="name" class="form-control" type="text" id="inputName" placeholder="Ім’я Фамілія" pattern="^[А-Яа-яЇїІіЄє\s]+$" required>
                                </div>
                            <span class="name-help-block" style="display:none">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                            </div>
                            <div class="form-group phone-group">
                                <label class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input name="phone" class="form-control" type="text" id="inputPhone" placeholder="+380994010999" required pattern="^(?:0|\(?\+380\)?\s?)[0-9]{9}">
                                </div>
                            <span class="phone-help-block" style="display:none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                            </div>
                            <div class="form-group address-group">
                                <label class="col-sm-2 control-label">Адреса</label>
                                <div class="col-sm-10">
                                    <input name="address" class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                                </div>
                            <span class="address-help-block" style="display:none">
                                Введіть адресу доставки піци
                            </span>
                            </div>
                            <div class="row">
                    <div class="form-group next-step-wrap">
                        <div class="next-step-width">
                            <button type="button" class="btn btn-warning btn-block next-step-button" id="btnNext">
                                Далі
                                <i class="glyphicon glyphicon-chevron-right icon-white">
                                </i>
                            </button>
                            
                        </div>
                        
                    </div>
                </div>
                        </form>
                    </div>
                    <div class="col-md-5 order-summary">
                        <div class=" bs-callout bs-callout-warning">
                            <h4>Інформація про замовлення</h4>
                            <p class="order-summery-time"><b>Приблизний час доставки</b>: <span id="tm">Невідомо</span></p>
                            <p class="order-summery-adress"><b>Адреса доставки:</b><span id="ad">Невідомо</span></p>
                        </div>
                    </div>
                </div>
                
                    
            </div>
            <div class="google-maps" id="googleMap"></div>
        </div>
        
    </div>

<!-- місце для віджету -->
<div	id="liqpay"></div>
<!-- піключаємо скрипт -->
<script	src="//static.liqpay.com/libjs/checkout.js">
</script>


>>>>>>> 57a8a0e92779d38c50c4e900c67f20fdb36b435b
<% include common/footer.ejs %>