<<<<<<< HEAD
  
    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up">ПІ-2.Києво-Могилянська академія. 2016 </span>
        </a><br><br>
    </footer>
=======
<footer class="footer">
    <p>Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>
        Доставка піци не здійснюється
    </p>
</footer>
<script	type="text/javascript"	
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCOgUkl3DTE4G376kde48oG0ltI0mSlvh4">
</script>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>

>>>>>>> 57a8a0e92779d38c50c4e900c67f20fdb36b435b
</body>
</html>
