<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
<head>
  <title>НІТ</title>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="src/css/main.css" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


 
</head> 
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">  
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">ПІ-2</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Головна</a></li>
      <li><a href="#methods">Створити директорію</a></li>
      <li><a href="#methods">Переглянути всі</a></li>
      <li><a href="#methods">Чат</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
        
    </div>
  </div>
    
    
</nav>
=======
<html>
<head lang="en">
    <meta charset="UTF-8">
<title><%= pageTitle %></title>
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>
    <div class="discount-panel">
        <div class="discount-before"></div>
        <div class="discount-title">Цього тижня на все</div>
        <div class="discount-text">20%</div>
    </div>
<div class="navbar navbar-fixed-top top-panel">
    <div class="site-icon">
        <div class="discount-before top-discount">
        </div>
        <a class="pizza-logo" href="/">
            <div id="pizza-title2" class="title-1">
                Pizza
            </div>
            <div class="title-2">
                KMA
            </div>
        </a>
    </div>
    <div class="header-top-row">
        <div class="main-header-top-items">
            <div class="main-header-top-item phone-number visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                (044) 222 5 222
            </div>
            <div class="main-header-top-item work-days visible-lg-inline-block visible-md-inline-block">
                24 години/ 7 днів на тиждень
            </div>
            <div class="main-header-top-item delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <div type="button" class="main-header-top-item btn btn-warning sign-in-button">
                Ввійти
            </div>
        </div>
    </div>

    <div class="header-down-row">
        <span class=" pizza-page" style="color:white;">
            <a href="/" style="color:white;" class="hidden-xs">Піца</a> &nbsp;
        </span>

    </div>

</div>
>>>>>>> 57a8a0e92779d38c50c4e900c67f20fdb36b435b
